<div class="content-playlists">
  <div class="row">
      <div class="col-sm-8 action-bar">
        <div class="form-group float-left">
          <label class="label-select-outlet" for="select-outlet">Select Outlet : </label>
          <select class="form-control" id="select-outlet">
            <option selected="selected" class="select-default">Outlet 1</option>
            <option>Outlet 2</option>
            <option>Outlet 3</option>
            <option>Outlet 4</option>
          </select>
        </div>
        <div class="form-group float-left section-display">
          <label class="label-select-outlet" for="select-outlet">Select Display : </label>
          <select class="form-control" id="select-outlet">
            <option selected="selected" class="select-default">Display 1</option>
            <option>Display 2</option>
            <option>Display 3</option>
            <option>Display 4</option>
          </select>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-warning section-button">Submit</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h5>OUTLET NAME - DISPLAY NAME</h5></div>
        <div class="panel-body">
          <div class="col-sm-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>DISPLAY</th>
                    <th>SERIAL NUMBER</th>
                    <th>TYPE OF DISPLAY</th>
                    <th>EXPIRED PERIODE</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>DISPLAY 1</td>
                    <td><span class="badge badge-primary badge-pill">B001-O001-D001</span></td>
                    <td>POTRAIT</td>
                    <td><span class="badge badge-primary badge-pill">21/08/2018 - 22/08/2019</span></td>
                    <td>
                      <a href="#" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>DISPLAY 2</td>
                    <td><span class="badge badge-primary badge-pill">B001-O001-D002</span></td>
                    <td>LANDSCAPE</td>
                    <td><span class="badge badge-primary badge-pill">21/08/2018 - 22/08/2019</span></td>
                    <td>
                      <a href="#" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>DISPLAY 3</td>
                    <td><span class="badge badge-primary badge-pill">B001-O001-D003</span></td>
                    <td>LANDSCAPE</td>
                    <td><span class="badge badge-primary badge-pill">21/08/2018 - 22/08/2019</span></td>
                    <td>
                      <a href="#" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>DISPLAY 4</td>
                    <td><span class="badge badge-primary badge-pill">B001-O001-D004</span></td>
                    <td>POTRAIT</td>
                    <td><span class="badge badge-primary badge-pill">21/08/2018 - 22/08/2019</span></td>
                    <td>
                      <a href="#" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
