.new_playlist{
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-new-playlist{
  margin-left: 10px;
}
.btn-back{
  margin-top: 20px;
  color: white !important;
}
.img-field-edit{
  background: #fafafa;
  padding: 20px;
  border: 1px solid #ccc;
}
.background-input{
  width: 150px;
}
