.content-playlists{
  #select-outlet{
    width: 200px;
  }
  .float-left{
    float: left;
  }
  .section-display{
    margin-left: 20px;
  }
  .section-button{
    margin-left: 20px;
    color: white;
  }
  .label-select-outlet{
    float: left;
    margin-top: 7px;
    margin-right: 10px;
  }
  .panel-body-total{
    text-align: center;
    font-size: 30px;
  }
  div.action-bar.btn-back{
    margin-top: 20px;
  }
  .btn-back{
    margin-top: 20px;
    color: white;
  }

}
